<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./Tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="yii2-tag-dependency-helper Test Suite">
            <directory>./Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">Tests</directory>
            <directory suffix=".php">vendor</directory>
        </blacklist>
    </filter>
</phpunit>
